[phases.setup]
nixPkgs = ["nodejs-18_x", "python311", "python311Packages.pip", "gcc"]

[phases.install]
cmds = [
    "python -m pip install -r requirements.txt",
    "cd frontend && npm install"
]

[phases.build]
cmds = [
    "cd frontend && npm run build"
]

[start]
cmd = "cd src && python main.py"
